.container {
	margin-top: 20px;
}
#heading {
    color: darkblue;
    font-family: "Times New Roman", "Times", serif;
}

body {
    text-align: center;
}

.card {
    width: 60rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.card-body {
    padding-left: 350px;
}

.form {
    display: flex;
}

.card-body {
    background-color: lightseagreen;
}